<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>鑫鑫书屋</title>
    <link rel="stylesheet" href="css/index.css?time=1">
    <script src="lib/drawbackground.js"></script>
    <script src="lib/vue.min.js"></script>
    <script src="lib/axios.js"></script>
    <script src="js/http.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <div class="title">鑫鑫小木屋</div>
            <p class="tishi">有你，每一天都是幸福的</p>
            <div class="taglist">
                <span @click="tabClick('')" :class="{ active: tabIndex == '' }">全部</span>
                <span :class="{ active: tabIndex == item.code }" v-for="(item,index) in type" :key="index" @click="tabClick(item.code)">{{ item.name }}</span>
            </div>
        </header>
        <div class="left_menu">
            <div>
                <div class="menu-row" @click="clickList(item.id)" :class="{ active : art_id == item.id }" v-for="(item, index) in list" :key="index">
                    <h1 class="textline">{{ item.title }}</h1>
                    <p>{{ item.remark }}</p>
                </div>

            </div>
        </div>
        <main class="main">
            <div class="content">
                <div class="title">{{ info.title }}</div>
                <div class="time">最近跟新：{{ info.updated_at | yyyy_mm_dd_H_M_S }}</div>
                <div class="content-box" v-html="info.content"></div>
            </div>
        </main>
        <footer>
            <a target="__blank" href="http://www.beian.miit.gov.cn/">陕ICP备17011999号-4</a>
        </footer>
    </div>
    <script src="js/index.js?time=1"></script>
</body>

</html>